body,html{
    margin: 0;
    padding:0;
    background-color: #35322f;
    width: 100%;
    height: 100%;
}
#app{
    width: 100%;
    height: 100%;
}
.topNav{
    width: 100%;
    height: 50px;
    background-color: #373d41;
}
.sideMenu{
    height: 100%;
    width: 250px;
    position: absolute;
    overflow: visible;
    background-color: #373d41;
    z-index: 1;
}
.contractBtn{
    width: 100%;
    height: 40px;
    position: relative;
    background-color: #373d41;
    text-align: right;
    line-height: 40px;
    border: 1px solid #504949;
}
.menuUlContent{
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 40px;
    margin: 0;
    background-color: #373d41;
    color: white;
    text-align: left;
    line-height: 40px;
    border: 1px solid #504949;
    z-index: 1;
}
.hideWidth{
    width:50px;
}
.displayWidth{
    width:100%;
}
.setPosition{
    position: absolute !important;
    margin-left: 50px !important;
    width: 200px; 
}
.menuUlContent>img{
    padding:0 20px;
}
.menuUl{
    position: relative;
    margin:0;
    padding: 0;
    max-height: 0;
    overflow:hidden;
    visibility: hidden;
    border: 1px solid #504949;
    transition: all 1s ease;
    background-color: antiquewhite;
    z-index: 0;
}
.menuUlContent:hover{
    cursor: pointer;
}
.menuLi{
    list-style-type: none;
    color:white;
    height: 35px;
    line-height: 35px;
    padding:0 0 0 20px;
    z-index: -1;
}
.menuLi:hover{
    cursor: pointer;
}
.menuLi:nth-child(odd){
    background-color: #4e4c56;
}
.menuLi:nth-child(even){
    background-color:#49464c;
}
.active{
    max-height:500px;
    visibility: visible;
}
.content{
    position: relative;
    margin-left: 250px;
}
.contentTitle{
    width: 100%;
    height: 50px;
    padding: 0;
    margin:0;
    background-color: #373d41;
    border: 1px solid #504949;
}
.funTitle{
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin:0;
    vertical-align: top;
    border-right: 1px solid #504949;
}
.funTitle>i{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    float:left;
}
.funTitle>i:before{
    content:'';
    padding-left: 20px;
    font-size: 12px;
    background: url('./images/cloud.png') no-repeat;
}
.funTitle>span{
    float: left;
    color: #bdb7b7;
    font-size: 14px;
    padding-right: 5px;
}
.funTitle>a{
    padding-right: 0px;
    padding-left: 5px;
}
.shutdown{
    padding-left: 5px;
}
.shutdown>i{
    display: block;
    float: left;
    font-size: 12px;
    transform: rotate(0deg);
    -webkit-transition: transform 0.5s;/*时长为2s的宽度变化效果*/
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
.shutdown>i:before{
    content: '';
    padding-right: 16px;
    background: url('./images/close.png') no-repeat;
}
.shutdown>i:hover{
    transform: rotate(90deg);
}